body {
  background-image: linear-gradient(
      90deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
header {
  margin-top: 3.5em;
}
#title,
#description {
  margin: 10px auto;
  text-align: center;
}
#title {
  font-size: 35px;
  color: #f3f3f3;
}
#description {
  font-size: 20px;
  font-style: italic;
  color: #d4d3d3;
}
main {
  background-color: rgba(27, 27, 50, 0.8);
  width: 75vw;
	max-width: 750px;
	min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 40px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}
label {
  display: block;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
input[type="radio"],
input[type="checkbox"] {
  width: unset;
  margin-top: 4px;
  min-height: 1.25rem;
  min-width: 1.25rem;
  vertical-align: middle;
}
button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  background-color: #37af65;
  border: transparent;
}
input:focus {
  outline: none !important;
  border: 1px solid blueviolet;
  box-shadow: 0 0 5px #719ece;
}
